Example 16

In [1]:
movies = [
    "Inception","Titanic","Avatar","The Dark Knight","Interstellar",
    "The Godfather","Gladiator","Avengers","Joker","Forrest Gump",
    "The Matrix","Frozen","Harry Potter","Lord of the Rings","Spiderman",
    "Iron Man","Black Panther","Doctor Strange","Shutter Island","Fight Club",
    "The Lion King","Finding Nemo","Toy Story","Coco","Moana"
]

movies_info = {
    "Inception": 2010,"Titanic": 1997,"Avatar": 2009,"The Dark Knight": 2008,"Interstellar": 2014,
    "The Godfather": 1972,"Gladiator": 2000,"Avengers": 2012,"Joker": 2019,"Forrest Gump": 1994,
    "The Matrix": 1999,"Frozen": 2013,"Harry Potter": 2001,"Lord of the Rings": 2003,"Spiderman": 2002,
    "Iron Man": 2008,"Black Panther": 2018,"Doctor Strange": 2016,"Shutter Island": 2010,"Fight Club": 1999
}

print("Total movies:", len(movies))
print("First 5 movies:", movies[:5])
print("Sample record:", list(movies_info.items())[:3])
print("Total records in dict:", len(movies_info))

Total movies: 25
First 5 movies: ['Inception', 'Titanic', 'Avatar', 'The Dark Knight', 'Interstellar']
Sample record: [('Inception', 2010), ('Titanic', 1997), ('Avatar', 2009)]
Total records in dict: 20

Example 17

In [2]:
smartphones = [
    "iPhone 14","Samsung Galaxy S23","OnePlus 11","Google Pixel 7","Xiaomi 13",
    "Realme GT 2","Oppo Find X5","Vivo X80","Asus ROG Phone 6","Nothing Phone 1",
    "Motorola Edge 30","Sony Xperia 1 IV","Huawei P50","Honor 70","Redmi Note 12",
    "iQOO 9","Poco F4","Nokia XR20","Lenovo Legion Duel","Micromax In Note 2",
    "Tecno Phantom X","Infinix Zero Ultra","Lava Agni 5G","ZTE Axon 40","Meizu 20"
]

smartphones_info = {
    "iPhone 14": 800,"Samsung Galaxy S23": 750,"OnePlus 11": 650,"Google Pixel 7": 600,"Xiaomi 13": 550,
    "Realme GT 2": 500,"Oppo Find X5": 700,"Vivo X80": 680,"Asus ROG Phone 6": 900,"Nothing Phone 1": 450,
    "Motorola Edge 30": 400,"Sony Xperia 1 IV": 1200,"Huawei P50": 650,"Honor 70": 480,"Redmi Note 12": 300,
    "iQOO 9": 550,"Poco F4": 350,"Nokia XR20": 400,"Lenovo Legion Duel": 850,"Micromax In Note 2": 250
}

print("Total smartphones:", len(smartphones))
print("First 5 smartphones:", smartphones[:5])
print("Sample record:", list(smartphones_info.items())[:3])
print("Total records in dict:", len(smartphones_info))

Total smartphones: 25
First 5 smartphones: ['iPhone 14', 'Samsung Galaxy S23', 'OnePlus 11', 'Google Pixel 7', 'Xiaomi 13']
Sample record: [('iPhone 14', 800), ('Samsung Galaxy S23', 750), ('OnePlus 11', 650)]
Total records in dict: 20

Example 18

In [3]:
cricketers = [
    "Sachin Tendulkar","Virat Kohli","MS Dhoni","Rohit Sharma","Yuvraj Singh",
    "Rahul Dravid","Sourav Ganguly","Kapil Dev","Sunil Gavaskar","Anil Kumble",
    "Jasprit Bumrah","Zaheer Khan","Hardik Pandya","Shikhar Dhawan","KL Rahul",
    "Rishabh Pant","Mohammad Shami","Ravindra Jadeja","Bhuvneshwar Kumar","Harbhajan Singh",
    "Ajinkya Rahane","Cheteshwar Pujara","Irfan Pathan","Gautam Gambhir","VVS Laxman"
]

cricketers_info = {
    "Sachin Tendulkar": 34357,"Virat Kohli": 25000,"MS Dhoni": 17000,"Rohit Sharma": 17000,"Yuvraj Singh": 11000,
    "Rahul Dravid": 24000,"Sourav Ganguly": 18000,"Kapil Dev": 9000,"Sunil Gavaskar": 10000,"Anil Kumble": 2500,
    "Jasprit Bumrah": 600,"Zaheer Khan": 1500,"Hardik Pandya": 3000,"Shikhar Dhawan": 10000,"KL Rahul": 7000,
    "Rishabh Pant": 4000,"Mohammad Shami": 800,"Ravindra Jadeja": 5000,"Bhuvneshwar Kumar": 1000,"Harbhajan Singh": 3000
}

print("Total cricketers:", len(cricketers))
print("First 5 cricketers:", cricketers[:5])
print("Sample record:", list(cricketers_info.items())[:3])
print("Total records in dict:", len(cricketers_info))

Total cricketers: 25
First 5 cricketers: ['Sachin Tendulkar', 'Virat Kohli', 'MS Dhoni', 'Rohit Sharma', 'Yuvraj Singh']
Sample record: [('Sachin Tendulkar', 34357), ('Virat Kohli', 25000), ('MS Dhoni', 17000)]
Total records in dict: 20

Example 19

In [4]:
constellations = [
    "Ursa Major","Ursa Minor","Orion","Cassiopeia","Andromeda",
    "Lyra","Cygnus","Scorpius","Taurus","Gemini",
    "Cancer","Leo","Pegasus","Aquarius","Pisces",
    "Aries","Sagittarius","Capricornus","Virgo","Libra",
    "Hydra","Perseus","Cetus","Ophiuchus","Corona Borealis"
]

constellations_info = {
    "Ursa Major": 'Northern',"Ursa Minor": 'Northern',"Orion": 'Both',"Cassiopeia": 'Northern',"Andromeda": 'Northern',
    "Lyra": 'Northern',"Cygnus": 'Northern',"Scorpius": 'Southern',"Taurus": 'Both',"Gemini": 'Both',
    "Cancer": 'Northern',"Leo": 'Northern',"Pegasus": 'Northern',"Aquarius": 'Both',"Pisces": 'Both',
    "Aries": 'Northern',"Sagittarius": 'Southern',"Capricornus": 'Both',"Virgo": 'Northern',"Libra": 'Both'
}

print("Total constellations:", len(constellations))
print("First 5 constellations:", constellations[:5])
print("Sample record:", list(constellations_info.items())[:3])
print("Total records in dict:", len(constellations_info))

Total constellations: 25
First 5 constellations: ['Ursa Major', 'Ursa Minor', 'Orion', 'Cassiopeia', 'Andromeda']
Sample record: [('Ursa Major', 'Northern'), ('Ursa Minor', 'Northern'), ('Orion', 'Both')]
Total records in dict: 20

Example 20

In [5]:
composers = [
    "Ludwig van Beethoven","Wolfgang Amadeus Mozart","Johann Sebastian Bach","Pyotr Ilyich Tchaikovsky","Frédéric Chopin",
    "Antonio Vivaldi","George Frideric Handel","Joseph Haydn","Johannes Brahms","Franz Schubert",
    "Giacomo Puccini","Giuseppe Verdi","Igor Stravinsky","Claude Debussy","Maurice Ravel",
    "George Gershwin","Richard Wagner","Jean Sibelius","Gustav Mahler","Antonín Dvořák",
    "Felix Mendelssohn","Gioachino Rossini","Camille Saint-Saëns","Carl Orff","John Williams"
]

composers_info = {
    "Ludwig van Beethoven": 'German',"Wolfgang Amadeus Mozart": 'Austrian',"Johann Sebastian Bach": 'German',"Pyotr Ilyich Tchaikovsky": 'Russian',"Frédéric Chopin": 'Polish',
    "Antonio Vivaldi": 'Italian',"George Frideric Handel": 'German-British',"Joseph Haydn": 'Austrian',"Johannes Brahms": 'German',"Franz Schubert": 'Austrian',
    "Giacomo Puccini": 'Italian',"Giuseppe Verdi": 'Italian',"Igor Stravinsky": 'Russian',"Claude Debussy": 'French',"Maurice Ravel": 'French',
    "George Gershwin": 'American',"Richard Wagner": 'German',"Jean Sibelius": 'Finnish',"Gustav Mahler": 'Austrian',"Antonín Dvořák": 'Czech'
}

print("Total composers:", len(composers))
print("First 5 composers:", composers[:5])
print("Sample record:", list(composers_info.items())[:3])
print("Total records in dict:", len(composers_info))

Total composers: 25
First 5 composers: ['Ludwig van Beethoven', 'Wolfgang Amadeus Mozart', 'Johann Sebastian Bach', 'Pyotr Ilyich Tchaikovsky', 'Frédéric Chopin']
Sample record: [('Ludwig van Beethoven', 'German'), ('Wolfgang Amadeus Mozart', 'Austrian'), ('Johann Sebastian Bach', 'German')]
Total records in dict: 20

Example 21

In [6]:
inventions = [
    "Wheel","Printing Press","Telephone","Light Bulb","Internet",
    "Airplane","Steam Engine","Compass","Penicillin","Vaccination",
    "Radio","Television","Battery","Computer","Refrigerator",
    "Camera","Telescope","Microscope","Electric Motor","Automobile",
    "GPS","Semiconductor","Laser","Mobile Phone","Satellite"
]

inventions_info = {
    "Wheel": 'Ancient',"Printing Press": 'Johannes Gutenberg',"Telephone": 'Alexander Graham Bell',"Light Bulb": 'Thomas Edison',"Internet": 'ARPANET / Various',
    "Airplane": 'Wright Brothers',"Steam Engine": 'James Watt',"Compass": 'Chinese inventors',"Penicillin": 'Alexander Fleming',"Vaccination": 'Edward Jenner',
    "Radio": 'Guglielmo Marconi',"Television": 'Various pioneers',"Battery": 'Alessandro Volta',"Computer": 'Charles Babbage (concept)',"Refrigerator": 'Carl von Linde',
    "Camera": 'Joseph Nicéphore Niépce',"Telescope": 'Hans Lippershey',"Microscope": 'Zacharias Janssen',"Electric Motor": 'Michael Faraday',"Automobile": 'Karl Benz'
}

print("Total inventions:", len(inventions))
print("First 5 inventions:", inventions[:5])
print("Sample record:", list(inventions_info.items())[:3])
print("Total records in dict:", len(inventions_info))

Total inventions: 25
First 5 inventions: ['Wheel', 'Printing Press', 'Telephone', 'Light Bulb', 'Internet']
Sample record: [('Wheel', 'Ancient'), ('Printing Press', 'Johannes Gutenberg'), ('Telephone', 'Alexander Graham Bell')]
Total records in dict: 20

Example 22

In [7]:
chemical_elements = [
    "Hydrogen","Helium","Lithium","Beryllium","Boron",
    "Carbon","Nitrogen","Oxygen","Fluorine","Neon",
    "Sodium","Magnesium","Aluminum","Silicon","Phosphorus",
    "Sulfur","Chlorine","Argon","Potassium","Calcium",
    "Scandium","Titanium","Vanadium","Chromium","Manganese"
]

chemical_elements_info = {
    "Hydrogen": 1,"Helium": 2,"Lithium": 3,"Beryllium": 4,"Boron": 5,
    "Carbon": 6,"Nitrogen": 7,"Oxygen": 8,"Fluorine": 9,"Neon": 10,
    "Sodium": 11,"Magnesium": 12,"Aluminum": 13,"Silicon": 14,"Phosphorus": 15,
    "Sulfur": 16,"Chlorine": 17,"Argon": 18,"Potassium": 19,"Calcium": 20
}

print("Total chemical_elements:", len(chemical_elements))
print("First 5 chemical_elements:", chemical_elements[:5])
print("Sample record:", list(chemical_elements_info.items())[:3])
print("Total records in dict:", len(chemical_elements_info))

Total chemical_elements: 25
First 5 chemical_elements: ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron']
Sample record: [('Hydrogen', 1), ('Helium', 2), ('Lithium', 3)]
Total records in dict: 20

Example 23

In [8]:
musical_instruments = [
    "Guitar","Piano","Violin","Drums","Flute",
    "Trumpet","Saxophone","Cello","Clarinet","Harp",
    "Trombone","Accordion","Oboe","Bassoon","Synthesizer",
    "Banjo","Mandolin","Ukulele","Sitar","Tabla",
    "Dholak","Harmonica","Xylophone","Marimba","Bagpipes"
]

musical_instruments_info = {
    "Guitar": 'Spain',"Piano": 'Italy',"Violin": 'Italy',"Drums": 'Various',"Flute": 'Ancient (various)',
    "Trumpet": 'Ancient (various)',"Saxophone": 'Belgium',"Saxophone Duplicate?": 'Belgium'
}

print("Total musical_instruments:", len(musical_instruments))
print("First 5 musical_instruments:", musical_instruments[:5])
print("Sample record:", list(musical_instruments_info.items())[:3])
print("Total records in dict:", len(musical_instruments_info))

Total musical_instruments: 25
First 5 musical_instruments: ['Guitar', 'Piano', 'Violin', 'Drums', 'Flute']
Sample record: [('Guitar', 'Spain'), ('Piano', 'Italy'), ('Violin', 'Italy')]
Total records in dict: 8

Example 24

In [9]:
world_heritage_sites = [
    "Taj Mahal","Great Wall of China","Machu Picchu","Pyramids of Giza","Colosseum",
    "Stonehenge","Angkor Wat","Acropolis","Petra","Great Barrier Reef",
    "Galápagos Islands","Easter Island","Mont-Saint-Michel","Palace of Versailles","Chichen Itza",
    "Statue of Liberty","Alhambra","Sistine Chapel","Yellowstone","Tower of London",
    "Banaue Rice Terraces","Kremlin","Sagrada Familia","Hagia Sophia","Mesa Verde"
]

world_heritage_sites_info = {
    "Taj Mahal": 'India',"Great Wall of China": 'China',"Machu Picchu": 'Peru',"Pyramids of Giza": 'Egypt',"Colosseum": 'Italy',
    "Stonehenge": 'UK',"Angkor Wat": 'Cambodia',"Acropolis": 'Greece',"Petra": 'Jordan',"Great Barrier Reef": 'Australia',
    "Galápagos Islands": 'Ecuador',"Easter Island": 'Chile',"Mont-Saint-Michel": 'France',"Palace of Versailles": 'France',"Chichen Itza": 'Mexico',
    "Statue of Liberty": 'USA',"Alhambra": 'Spain',"Sistine Chapel": 'Vatican City',"Yellowstone": 'USA',"Tower of London": 'UK'
}

print("Total world_heritage_sites:", len(world_heritage_sites))
print("First 5 world_heritage_sites:", world_heritage_sites[:5])
print("Sample record:", list(world_heritage_sites_info.items())[:3])
print("Total records in dict:", len(world_heritage_sites_info))

Total world_heritage_sites: 25
First 5 world_heritage_sites: ['Taj Mahal', 'Great Wall of China', 'Machu Picchu', 'Pyramids of Giza', 'Colosseum']
Sample record: [('Taj Mahal', 'India'), ('Great Wall of China', 'China'), ('Machu Picchu', 'Peru')]
Total records in dict: 20

Example 25

In [10]:
programming_languages_full = [
    "Python","Java","C","C++","JavaScript",
    "Ruby","PHP","Swift","Kotlin","Rust",
    "Go","TypeScript","Scala","Perl","Haskell",
    "Lua","MATLAB","R","Dart","Visual Basic",
    "Fortran","COBOL","Ada","Erlang","Elixir"
]

programming_languages_full_info = {
    "Python": 'Guido van Rossum',"Java": 'James Gosling',"C": 'Dennis Ritchie',"C++": 'Bjarne Stroustrup',"JavaScript": 'Brendan Eich',
    "Ruby": 'Yukihiro Matsumoto',"PHP": 'Rasmus Lerdorf',"Swift": 'Chris Lattner',"Kotlin": 'JetBrains (Andrey Breslav lead)',"Rust": 'Graydon Hoare',
    "Go": 'Robert Griesemer/Rob Pike/Ken Thompson',"TypeScript": 'Microsoft',"Scala": 'Martin Odersky',"Perl": 'Larry Wall',"Haskell": 'Committee',
    "Lua": 'Roberto Ierusalimschy',"MATLAB": 'Cleve Moler',"R": 'Ross Ihaka & Robert Gentleman',"Dart": 'Google',"Visual Basic": 'Microsoft'
}

print("Total programming_languages_full:", len(programming_languages_full))
print("First 5 programming_languages_full:", programming_languages_full[:5])
print("Sample record:", list(programming_languages_full_info.items())[:3])
print("Total records in dict:", len(programming_languages_full_info))

Total programming_languages_full: 25
First 5 programming_languages_full: ['Python', 'Java', 'C', 'C++', 'JavaScript']
Sample record: [('Python', 'Guido van Rossum'), ('Java', 'James Gosling'), ('C', 'Dennis Ritchie')]
Total records in dict: 20

Example 26

In [11]:
mountains = [
    "Mount Everest","K2","Kangchenjunga","Lhotse","Makalu",
    "Cho Oyu","Dhaulagiri","Manaslu","Nanga Parbat","Annapurna",
    "Gasherbrum I","Broad Peak","Gasherbrum II","Shishapangma","Mount Fuji",
    "Denali","Kilimanjaro","Elbrus","Aconcagua","Vinson Massif",
    "Puncak Jaya","Mount Kosciuszko","Mont Blanc","Matterhorn","Mount Cook"
]

mountains_info = {
    "Mount Everest": 8848,"K2": 8611,"Kangchenjunga": 8586,"Lhotse": 8516,"Makalu": 8485,
    "Cho Oyu": 8188,"Dhaulagiri": 8167,"Manaslu": 8163,"Nanga Parbat": 8126,"Annapurna": 8091,
    "Gasherbrum I": 8080,"Broad Peak": 8051,"Gasherbrum II": 8035,"Shishapangma": 8027,"Mount Fuji": 3776,
    "Denali": 6190,"Kilimanjaro": 5895,"Elbrus": 5642,"Aconcagua": 6961,"Vinson Massif": 4892
}

print("Total mountains:", len(mountains))
print("First 5 mountains:", mountains[:5])
print("Sample record:", list(mountains_info.items())[:3])
print("Total records in dict:", len(mountains_info))

Total mountains: 25
First 5 mountains: ['Mount Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu']
Sample record: [('Mount Everest', 8848), ('K2', 8611), ('Kangchenjunga', 8586)]
Total records in dict: 20

Example 27

In [12]:
paintings = [
    "Mona Lisa","Starry Night","The Last Supper","Guernica","The Scream",
    "Girl with a Pearl Earring","The Persistence of Memory","The Night Watch","American Gothic","The Birth of Venus",
    "The Kiss","Whistler's Mother","Las Meninas","Nighthawks","The Son of Man",
    "The Arnolfini Portrait","Impression, Sunrise","Cafe Terrace at Night","Water Lilies","The Garden of Earthly Delights",
    "Liberty Leading the People","The Creation of Adam","Sunflowers","The School of Athens","The Hay Wain"
]

paintings_info = {
    "Mona Lisa": 'Leonardo da Vinci',"Starry Night": 'Vincent van Gogh',"The Last Supper": 'Leonardo da Vinci',"Guernica": 'Pablo Picasso',"The Scream": 'Edvard Munch',
    "Girl with a Pearl Earring": 'Johannes Vermeer',"The Persistence of Memory": 'Salvador Dalí',"The Night Watch": 'Rembrandt',"American Gothic": 'Grant Wood',"The Birth of Venus": 'Sandro Botticelli',
    "The Kiss": 'Gustav Klimt',"Whistler's Mother": 'James McNeill Whistler',"Las Meninas": 'Diego Velázquez',"Nighthawks": 'Edward Hopper',"The Son of Man": 'René Magritte'
}

print("Total paintings:", len(paintings))
print("First 5 paintings:", paintings[:5])
print("Sample record:", list(paintings_info.items())[:3])
print("Total records in dict:", len(paintings_info))

Total paintings: 25
First 5 paintings: ['Mona Lisa', 'Starry Night', 'The Last Supper', 'Guernica', 'The Scream']
Sample record: [('Mona Lisa', 'Leonardo da Vinci'), ('Starry Night', 'Vincent van Gogh'), ('The Last Supper', 'Leonardo da Vinci')]
Total records in dict: 15

Example 28

In [13]:
currencies = [
    "US Dollar","Euro","British Pound","Japanese Yen","Indian Rupee",
    "Chinese Yuan","Australian Dollar","Canadian Dollar","Swiss Franc","Russian Ruble",
    "South African Rand","Brazilian Real","Mexican Peso","Indonesian Rupiah","Saudi Riyal",
    "UAE Dirham","Turkish Lira","Korean Won","Singapore Dollar","New Zealand Dollar",
    "Swedish Krona","Norwegian Krone","Danish Krone","Polish Zloty","Argentine Peso"
]

currencies_info = {
    "US Dollar": 'United States',"Euro": 'European Union',"British Pound": 'United Kingdom',"Japanese Yen": 'Japan',"Indian Rupee": 'India',
    "Chinese Yuan": 'China',"Australian Dollar": 'Australia',"Canadian Dollar": 'Canada',"Swiss Franc": 'Switzerland',"Russian Ruble": 'Russia',
    "South African Rand": 'South Africa',"Brazilian Real": 'Brazil',"Mexican Peso": 'Mexico',"Indonesian Rupiah": 'Indonesia',"Saudi Riyal": 'Saudi Arabia',
    "UAE Dirham": 'UAE',"Turkish Lira": 'Turkey',"Korean Won": 'South Korea',"Singapore Dollar": 'Singapore',"New Zealand Dollar": 'New Zealand'
}

print("Total currencies:", len(currencies))
print("First 5 currencies:", currencies[:5])
print("Sample record:", list(currencies_info.items())[:3])
print("Total records in dict:", len(currencies_info))

Total currencies: 25
First 5 currencies: ['US Dollar', 'Euro', 'British Pound', 'Japanese Yen', 'Indian Rupee']
Sample record: [('US Dollar', 'United States'), ('Euro', 'European Union'), ('British Pound', 'United Kingdom')]
Total records in dict: 20

Example 29

In [14]:
universities = [
    "Harvard University","Stanford University","MIT","University of Oxford","University of Cambridge",
    "Caltech","Yale University","Princeton University","Columbia University","University of Tokyo",
    "University of Toronto","ETH Zurich","Imperial College London","University of Chicago","Peking University",
    "National University of Singapore","Tsinghua University","University of Melbourne","University of Cape Town","University of Sao Paulo",
    "University of Edinburgh","KU Leuven","Ludwig Maximilian University","Seoul National University","Monash University"
]

universities_info = {
    "Harvard University": 'USA',"Stanford University": 'USA',"MIT": 'USA',"University of Oxford": 'UK',"University of Cambridge": 'UK',
    "Caltech": 'USA',"Yale University": 'USA',"Princeton University": 'USA',"Columbia University": 'USA',"University of Tokyo": 'Japan',
    "University of Toronto": 'Canada',"ETH Zurich": 'Switzerland',"Imperial College London": 'UK',"University of Chicago": 'USA',"Peking University": 'China',
    "National University of Singapore": 'Singapore',"Tsinghua University": 'China',"University of Melbourne": 'Australia',"University of Cape Town": 'South Africa',"University of Sao Paulo": 'Brazil'
}

print("Total universities:", len(universities))
print("First 5 universities:", universities[:5])
print("Sample record:", list(universities_info.items())[:3])
print("Total records in dict:", len(universities_info))

Total universities: 25
First 5 universities: ['Harvard University', 'Stanford University', 'MIT', 'University of Oxford', 'University of Cambridge']
Sample record: [('Harvard University', 'USA'), ('Stanford University', 'USA'), ('MIT', 'USA')]
Total records in dict: 20

Example 30

In [15]:
dishes = [
    "Pizza","Sushi","Tacos","Biryani","Pasta",
    "Paella","Poutine","Ramen","Pad Thai","Falafel",
    "Shawarma","Kimchi","Bulgogi","Dumplings","Ceviche",
    "Pho","Goulash","Moussaka","Sauerbraten","Pierogi",
    "Jollof Rice","Empanada","Baklava","Samosa","Laksa"
]

dishes_info = {
    "Pizza": 'Italy',"Sushi": 'Japan',"Tacos": 'Mexico',"Biryani": 'India',"Pasta": 'Italy',
    "Paella": 'Spain',"Poutine": 'Canada',"Ramen": 'Japan',"Pad Thai": 'Thailand',"Falafel": 'Middle East',
    "Shawarma": 'Middle East',"Kimchi": 'Korea',"Bulgogi": 'Korea',"Dumplings": 'China',"Ceviche": 'Peru',
    "Pho": 'Vietnam',"Goulash": 'Hungary',"Moussaka": 'Greece',"Sauerbraten": 'Germany',"Pierogi": 'Poland'
}

print("Total dishes:", len(dishes))
print("First 5 dishes:", dishes[:5])
print("Sample record:", list(dishes_info.items())[:3])
print("Total records in dict:", len(dishes_info))

Total dishes: 25
First 5 dishes: ['Pizza', 'Sushi', 'Tacos', 'Biryani', 'Pasta']
Sample record: [('Pizza', 'Italy'), ('Sushi', 'Japan'), ('Tacos', 'Mexico')]
Total records in dict: 20

Example 31

In [16]:
birds = [
    "Eagle","Sparrow","Pigeon","Crow","Parrot",
    "Peacock","Flamingo","Penguin","Owl","Hawk",
    "Falcon","Seagull","Albatross","Hummingbird","Kingfisher",
    "Partridge","Quail","Ostrich","Emu","Swan",
    "Goose","Duck","Pelican","Woodpecker","Robin"
]

birds_info = {
    "Eagle": 20,"Sparrow": 3,"Pigeon": 6,"Crow": 8,"Parrot": 50,
    "Peacock": 20,"Flamingo": 30,"Penguin": 20,"Owl": 25,"Hawk": 20,
    "Falcon": 15,"Seagull": 20,"Albatross": 50,"Hummingbird": 5,"Kingfisher": 7,
    "Partridge": 6,"Quail": 5,"Ostrich": 40,"Emu": 30,"Swan": 20
}

print("Total birds:", len(birds))
print("First 5 birds:", birds[:5])
print("Sample record:", list(birds_info.items())[:3])
print("Total records in dict:", len(birds_info))

Total birds: 25
First 5 birds: ['Eagle', 'Sparrow', 'Pigeon', 'Crow', 'Parrot']
Sample record: [('Eagle', 20), ('Sparrow', 3), ('Pigeon', 6)]
Total records in dict: 20

Example 32

In [17]:
flowers = [
    "Rose","Lily","Tulip","Sunflower","Daisy",
    "Orchid","Marigold","Jasmine","Lotus","Hibiscus",
    "Peony","Iris","Chrysanthemum","Daffodil","Carnation",
    "Poppy","Lavender","Begonia","Geranium","Zinnia",
    "Dahlia","Camellia","Magnolia","Azalea","Heather"
]

flowers_info = {
    "Rose": 'Red',"Lily": 'White',"Tulip": 'Various',"Sunflower": 'Yellow',"Daisy": 'White',
    "Orchid": 'Various',"Marigold": 'Orange',"Jasmine": 'White',"Lotus": 'Pink',"Hibiscus": 'Red',
    "Peony": 'Pink',"Iris": 'Purple',"Chrysanthemum": 'Yellow',"Daffodil": 'Yellow',"Carnation": 'Pink'
}

print("Total flowers:", len(flowers))
print("First 5 flowers:", flowers[:5])
print("Sample record:", list(flowers_info.items())[:3])
print("Total records in dict:", len(flowers_info))

Total flowers: 25
First 5 flowers: ['Rose', 'Lily', 'Tulip', 'Sunflower', 'Daisy']
Sample record: [('Rose', 'Red'), ('Lily', 'White'), ('Tulip', 'Various')]
Total records in dict: 15

Example 33

In [18]:
websites = [
    "Google","YouTube","Facebook","Wikipedia","Amazon",
    "Twitter","Instagram","Reddit","LinkedIn","Netflix",
    "Spotify","eBay","Pinterest","Quora","StackOverflow",
    "Medium","Twitch","GitHub","BBC","CNN",
    "NYTimes","TheGuardian","HackerNews","ProductHunt","Dribbble"
]

websites_info = {
    "Google": 'Search',"YouTube": 'Video',"Facebook": 'Social',"Wikipedia": 'Encyclopedia',"Amazon": 'E-commerce',
    "Twitter": 'Social',"Instagram": 'Social',"Reddit": 'Community',"LinkedIn": 'Professional',"Netflix": 'Streaming',
    "Spotify": 'Music',"eBay": 'E-commerce',"Pinterest": 'Discovery',"Quora": 'Q&A',"StackOverflow": 'Technical Q&A',
    "Medium": 'Blogging',"Twitch": 'Streaming',"GitHub": 'Code',"BBC": 'News',"CNN": 'News'
}

print("Total websites:", len(websites))
print("First 5 websites:", websites[:5])
print("Sample record:", list(websites_info.items())[:3])
print("Total records in dict:", len(websites_info))

Total websites: 25
First 5 websites: ['Google', 'YouTube', 'Facebook', 'Wikipedia', 'Amazon']
Sample record: [('Google', 'Search'), ('YouTube', 'Video'), ('Facebook', 'Social')]
Total records in dict: 20

Example 34

In [19]:
board_games = [
    "Chess","Monopoly","Scrabble","Catan","Risk",
    "Clue","Carcassonne","Ticket to Ride","Pandemic","Battleship",
    "Checkers","Backgammon","Go","Connect Four","Pictionary",
    "Uno","Dominion","Agricola","Azul","Splendor",
    "Mahjong","Shogi","Othello","Sorry!","The Game of Life"
]

board_games_info = {
    "Chess": '2',"Monopoly": '2-8',"Scrabble": '2-4',"Catan": '3-4',"Risk": '2-6',
    "Clue": '3-6',"Carcassonne": '2-5',"Ticket to Ride": '2-5',"Pandemic": '2-4',"Battleship": '2'
}

print("Total board_games:", len(board_games))
print("First 5 board_games:", board_games[:5])
print("Sample record:", list(board_games_info.items())[:3])
print("Total records in dict:", len(board_games_info))

Total board_games: 25
First 5 board_games: ['Chess', 'Monopoly', 'Scrabble', 'Catan', 'Risk']
Sample record: [('Chess', '2'), ('Monopoly', '2-8'), ('Scrabble', '2-4')]
Total records in dict: 10

Example 35

In [20]:
space_missions = [
    "Sputnik 1","Vostok 1","Apollo 11","Voyager 1","Voyager 2",
    "Hubble Space Telescope","Curiosity","Perseverance","Chandrayaan-1","Chandrayaan-2",
    "Mangalyaan","International Space Station","Cassini","Pioneer 10","Apollo 13",
    "Soyuz 1","Skylab","Vostok 6","Mercury-Atlas 6","Gemini 4",
    "Venera 7","Mariner 4","New Horizons","Artemis I","Shenzhou 5"
]

space_missions_info = {
    "Sputnik 1": 1957,"Vostok 1": 1961,"Apollo 11": 1969,"Voyager 1": 1977,"Voyager 2": 1977,
    "Hubble Space Telescope": 1990,"Curiosity": 2011,"Perseverance": 2020,"Chandrayaan-1": 2008,"Chandrayaan-2": 2019
}

print("Total space_missions:", len(space_missions))
print("First 5 space_missions:", space_missions[:5])
print("Sample record:", list(space_missions_info.items())[:3])
print("Total records in dict:", len(space_missions_info))

Total space_missions: 25
First 5 space_missions: ['Sputnik 1', 'Vostok 1', 'Apollo 11', 'Voyager 1', 'Voyager 2']
Sample record: [('Sputnik 1', 1957), ('Vostok 1', 1961), ('Apollo 11', 1969)]
Total records in dict: 10

Example 36

In [21]:
mythological_figures = [
    "Zeus","Odin","Ra","Vishnu","Shiva",
    "Thor","Anubis","Athena","Hercules","Persephone",
    "Loki","Krishna","Gilgamesh","Ishtar","Kali",
    "Odin Duplicate?","Hera","Aphrodite","Apollo","Set",
    "Marduk","Bragi","Freya","Prometheus","Eros"
]

mythological_figures_info = {
    "Zeus": 'Greek',"Odin": 'Norse',"Ra": 'Egyptian',"Vishnu": 'Hindu',"Shiva": 'Hindu',
    "Thor": 'Norse',"Anubis": 'Egyptian',"Athena": 'Greek',"Hercules": 'Greek/Roman',"Persephone": 'Greek'
}

print("Total mythological_figures:", len(mythological_figures))
print("First 5 mythological_figures:", mythological_figures[:5])
print("Sample record:", list(mythological_figures_info.items())[:3])
print("Total records in dict:", len(mythological_figures_info))

Total mythological_figures: 25
First 5 mythological_figures: ['Zeus', 'Odin', 'Ra', 'Vishnu', 'Shiva']
Sample record: [('Zeus', 'Greek'), ('Odin', 'Norse'), ('Ra', 'Egyptian')]
Total records in dict: 10

Example 37

In [22]:
airlines = [
    "Delta Air Lines","American Airlines","United Airlines","Emirates","Qatar Airways",
    "British Airways","Lufthansa","Air France","Singapore Airlines","Cathay Pacific",
    "Qantas","Air India","IndiGo","Turkish Airlines","KLM",
    "Etihad","Japan Airlines","ANA","EasyJet","Ryanair",
    "Swiss International Air Lines","Aeroflot","AeroMexico","LATAM","Gol"
]

airlines_info = {
    "Delta Air Lines": 'USA',"American Airlines": 'USA',"United Airlines": 'USA',"Emirates": 'UAE',"Qatar Airways": 'Qatar',
    "British Airways": 'UK',"Lufthansa": 'Germany',"Air France": 'France',"Singapore Airlines": 'Singapore',"Cathay Pacific": 'Hong Kong'
}

print("Total airlines:", len(airlines))
print("First 5 airlines:", airlines[:5])
print("Sample record:", list(airlines_info.items())[:3])
print("Total records in dict:", len(airlines_info))

Total airlines: 25
First 5 airlines: ['Delta Air Lines', 'American Airlines', 'United Airlines', 'Emirates', 'Qatar Airways']
Sample record: [('Delta Air Lines', 'USA'), ('American Airlines', 'USA'), ('United Airlines', 'USA')]
Total records in dict: 10

Example 38

In [23]:
poets = [
    "William Shakespeare","Rabindranath Tagore","Pablo Neruda","Rumi","Emily Dickinson",
    "Walt Whitman","Langston Hughes","Mirza Ghalib","William Wordsworth","John Keats",
    "T.S. Eliot","Sylvia Plath","Maya Angelou","Robert Frost","Dante Alighieri",
    "Hafez","Li Bai","Basho","Kabir","Ghalib Duplicate?",
    "Anna Akhmatova","Octavio Paz","Seamus Heaney","Carol Ann Duffy","Philip Larkin"
]

poets_info = {
    "William Shakespeare": 'English',"Rabindranath Tagore": 'Bengali',"Pablo Neruda": 'Spanish',"Rumi": 'Persian',"Emily Dickinson": 'English',
    "Walt Whitman": 'English',"Langston Hughes": 'English',"Mirza Ghalib": 'Urdu',"William Wordsworth": 'English',"John Keats": 'English'
}

print("Total poets:", len(poets))
print("First 5 poets:", poets[:5])
print("Sample record:", list(poets_info.items())[:3])
print("Total records in dict:", len(poets_info))

Total poets: 25
First 5 poets: ['William Shakespeare', 'Rabindranath Tagore', 'Pablo Neruda', 'Rumi', 'Emily Dickinson']
Sample record: [('William Shakespeare', 'English'), ('Rabindranath Tagore', 'Bengali'), ('Pablo Neruda', 'Spanish')]
Total records in dict: 10

Example 39

In [24]:
trees = [
    "Oak","Pine","Maple","Baobab","Banyan",
    "Cedar","Sequoia","Redwood","Birch","Elm",
    "Willow","Cypress","Spruce","Fir","Teak",
    "Mahogany","Eucalyptus","Palm","Mango Tree","Apple Tree",
    "Cherry Tree","Olive Tree","Walnut","Chestnut","Acacia"
]

trees_info = {
    "Oak": 20,"Pine": 30,"Maple": 10,"Baobab": 25,"Banyan": 40,
    "Cedar": 30,"Sequoia": 85,"Redwood": 90,"Birch": 15,"Elm": 25,
    "Willow": 20,"Cypress": 30,"Spruce": 35,"Fir": 40,"Teak": 30
}

print("Total trees:", len(trees))
print("First 5 trees:", trees[:5])
print("Sample record:", list(trees_info.items())[:3])
print("Total records in dict:", len(trees_info))

Total trees: 25
First 5 trees: ['Oak', 'Pine', 'Maple', 'Baobab', 'Banyan']
Sample record: [('Oak', 20), ('Pine', 30), ('Maple', 10)]
Total records in dict: 15

Example 40

In [25]:
gemstones = [
    "Diamond","Ruby","Sapphire","Emerald","Amethyst",
    "Topaz","Opal","Pearl","Garnet","Peridot",
    "Aquamarine","Citrine","Turquoise","Onyx","Jade",
    "Spinel","Zircon","Tanzanite","Alexandrite","Moonstone",
    "Lapis Lazuli","Amber","Coral","Beryl","Quartz"
]

gemstones_info = {
    "Diamond": 'Colorless',"Ruby": 'Red',"Sapphire": 'Blue',"Emerald": 'Green',"Amethyst": 'Purple',
    "Topaz": 'Yellow/Blue',"Opal": 'Multi',"Pearl": 'White',"Garnet": 'Red',"Peridot": 'Green'
}

print("Total gemstones:", len(gemstones))
print("First 5 gemstones:", gemstones[:5])
print("Sample record:", list(gemstones_info.items())[:3])
print("Total records in dict:", len(gemstones_info))

Total gemstones: 25
First 5 gemstones: ['Diamond', 'Ruby', 'Sapphire', 'Emerald', 'Amethyst']
Sample record: [('Diamond', 'Colorless'), ('Ruby', 'Red'), ('Sapphire', 'Blue')]
Total records in dict: 10

Example 41

In [26]:
operating_systems = [
    "Windows","macOS","Linux","Android","iOS",
    "Ubuntu","Fedora","Red Hat Enterprise Linux","Debian","Solaris",
    "FreeBSD","ChromeOS","MS-DOS","BeOS","AmigaOS",
    "NetBSD","OpenBSD","AIX","HP-UX","Syllable",
    "Zorin OS","Manjaro","Kali Linux","Opera OS","Tizen"
]

operating_systems_info = {
    "Windows": 1985,"macOS": 2001,"Linux": 1991,"Android": 2008,"iOS": 2007,
    "Ubuntu": 2004,"Fedora": 2003,"Red Hat Enterprise Linux": 2000,"Debian": 1993,"Solaris": 1992
}

print("Total operating_systems:", len(operating_systems))
print("First 5 operating_systems:", operating_systems[:5])
print("Sample record:", list(operating_systems_info.items())[:3])
print("Total records in dict:", len(operating_systems_info))

Total operating_systems: 25
First 5 operating_systems: ['Windows', 'macOS', 'Linux', 'Android', 'iOS']
Sample record: [('Windows', 1985), ('macOS', 2001), ('Linux', 1991)]
Total records in dict: 10

Example 42

In [27]:
world_languages = [
    "English","Mandarin Chinese","Spanish","Hindi","Arabic",
    "Bengali","Portuguese","Russian","Japanese","Punjabi",
    "German","Javanese","Korean","Vietnamese","Telugu",
    "Marathi","Tamil","Urdu","Turkish","Italian",
    "Gujarati","Persian","Polish","Ukrainian","Dutch"
]

world_languages_info = {
    "English": 379,"Mandarin Chinese": 918,"Spanish": 460,"Hindi": 341,"Arabic": 310,
    "Bengali": 228,"Portuguese": 221,"Russian": 154,"Japanese": 128,"Punjabi": 92,
    "German": 76,"Javanese": 82,"Korean": 77,"Vietnamese": 76,"Telugu": 82
}

print("Total world_languages:", len(world_languages))
print("First 5 world_languages:", world_languages[:5])
print("Sample record:", list(world_languages_info.items())[:3])
print("Total records in dict:", len(world_languages_info))

Total world_languages: 25
First 5 world_languages: ['English', 'Mandarin Chinese', 'Spanish', 'Hindi', 'Arabic']
Sample record: [('English', 379), ('Mandarin Chinese', 918), ('Spanish', 460)]
Total records in dict: 15

Example 43

In [28]:
famous_scientists = [
    "Isaac Newton","Albert Einstein","Marie Curie","Galileo Galilei","Charles Darwin",
    "Nikola Tesla","Stephen Hawking","Louis Pasteur","Max Planck","Niels Bohr",
    "Richard Feynman","Johannes Kepler","Michael Faraday","Edwin Hubble","Antoine Lavoisier",
    "Gregor Mendel","Robert Boyle","James Clerk Maxwell","Werner Heisenberg","Ernest Rutherford",
    "Anders Celsius","Benoît Mandelbrot","Ada Lovelace","Alan Turing","Rosalind Franklin"
]

famous_scientists_info = {
    "Isaac Newton": 'Physics',"Albert Einstein": 'Physics',"Marie Curie": 'Chemistry/Physics',"Galileo Galilei": 'Astronomy',"Charles Darwin": 'Biology',
    "Nikola Tesla": 'Electrical Engineering',"Stephen Hawking": 'Physics',"Louis Pasteur": 'Microbiology',"Max Planck": 'Physics',"Niels Bohr": 'Physics'
}

print("Total famous_scientists:", len(famous_scientists))
print("First 5 famous_scientists:", famous_scientists[:5])
print("Sample record:", list(famous_scientists_info.items())[:3])
print("Total records in dict:", len(famous_scientists_info))

Total famous_scientists: 25
First 5 famous_scientists: ['Isaac Newton', 'Albert Einstein', 'Marie Curie', 'Galileo Galilei', 'Charles Darwin']
Sample record: [('Isaac Newton', 'Physics'), ('Albert Einstein', 'Physics'), ('Marie Curie', 'Chemistry/Physics')]
Total records in dict: 10

Example 44

In [29]:
programming_frameworks = [
    "Django","Flask","React","Angular","Vue",
    "Spring","Laravel","Ruby on Rails","Express","ASP.NET",
    "TensorFlow","PyTorch","Keras","Bootstrap","jQuery",
    "Symfony","CodeIgniter","Svelte","Next.js","Nuxt.js",
    "Gatsby","Meteor","Ember.js","Backbone.js","Play Framework"
]

programming_frameworks_info = {
    "Django": 'Python',"Flask": 'Python',"React": 'JavaScript',"Angular": 'TypeScript',"Vue": 'JavaScript',
    "Spring": 'Java',"Laravel": 'PHP',"Ruby on Rails": 'Ruby',"Express": 'JavaScript',"ASP.NET": 'C#'
}

print("Total programming_frameworks:", len(programming_frameworks))
print("First 5 programming_frameworks:", programming_frameworks[:5])
print("Sample record:", list(programming_frameworks_info.items())[:3])
print("Total records in dict:", len(programming_frameworks_info))

Total programming_frameworks: 25
First 5 programming_frameworks: ['Django', 'Flask', 'React', 'Angular', 'Vue']
Sample record: [('Django', 'Python'), ('Flask', 'Python'), ('React', 'JavaScript')]
Total records in dict: 10

Example 45

In [30]:
historical_events = [
    "World War I","World War II","French Revolution","American Revolution","Indian Independence",
    "Industrial Revolution","Moon Landing","Fall of Berlin Wall","Renaissance","Reformation",
    "Russian Revolution","Cuban Missile Crisis","Black Death","Cold War","9/11 Attacks",
    "Spanish Armada","Magna Carta","Great Depression","Partition of India","Discovery of America",
    "Treaty of Versailles","Formation of UN","Berlin Airlift","Suez Crisis","Chinese Revolution 1949"
]

historical_events_info = {
    "World War I": 1914,"World War II": 1939,"French Revolution": 1789,"American Revolution": 1775,"Indian Independence": 1947,
    "Industrial Revolution": 1760,"Moon Landing": 1969,"Fall of Berlin Wall": 1989,"Renaissance": '14th-17th century',"Reformation": 1517
}

print("Total historical_events:", len(historical_events))
print("First 5 historical_events:", historical_events[:5])
print("Sample record:", list(historical_events_info.items())[:3])
print("Total records in dict:", len(historical_events_info))

Total historical_events: 25
First 5 historical_events: ['World War I', 'World War II', 'French Revolution', 'American Revolution', 'Indian Independence']
Sample record: [('World War I', 1914), ('World War II', 1939), ('French Revolution', 1789)]
Total records in dict: 10

Example 46

In [31]:
chess_openings = [
    "Sicilian Defense","Ruy Lopez","Queen's Gambit","King's Indian Defense","French Defense",
    "Caro-Kann","Nimzo-Indian Defense","English Opening","Scandinavian Defense","Dutch Defense",
    "Pirc Defense","Alekhine's Defense","Grunfeld Defense","Catalan Opening","Slav Defense",
    "Benoni Defense","Modern Defense","Bird's Opening","London System","Four Knights Game",
    "Giuoco Piano","Petroff Defense","Vienna Game","King's Gambit","Evans Gambit"
]

chess_openings_info = {
    "Sicilian Defense": '1.e4 c5',"Ruy Lopez": '1.e4 e5 2.Nf3 Nc6 3.Bb5',"Queen's Gambit": '1.d4 d5 2.c4',"King's Indian Defense": '1.d4 Nf6 2.c4 g6',"French Defense": '1.e4 e6'
}

print("Total chess_openings:", len(chess_openings))
print("First 5 chess_openings:", chess_openings[:5])
print("Sample record:", list(chess_openings_info.items())[:3])
print("Total records in dict:", len(chess_openings_info))

Total chess_openings: 25
First 5 chess_openings: ['Sicilian Defense', 'Ruy Lopez', "Queen's Gambit", "King's Indian Defense", 'French Defense']
Sample record: [('Sicilian Defense', '1.e4 c5'), ('Ruy Lopez', '1.e4 e5 2.Nf3 Nc6 3.Bb5'), ("Queen's Gambit", '1.d4 d5 2.c4')]
Total records in dict: 5

Example 47

In [32]:
film_directors = [
    "Steven Spielberg","Christopher Nolan","Martin Scorsese","Stanley Kubrick","Quentin Tarantino",
    "Alfred Hitchcock","Francis Ford Coppola","James Cameron","Wes Anderson","Ridley Scott",
    "Peter Jackson","Ang Lee","Bong Joon-ho","Satyajit Ray","Yasujiro Ozu",
    "Akira Kurosawa","Ingmar Bergman","David Fincher","Clint Eastwood","Tim Burton",
    "Roman Polanski","Guy Ritchie","Greta Gerwig","Nora Ephron","Taika Waititi"
]

film_directors_info = {
    "Steven Spielberg": 'Jaws/ET',"Christopher Nolan": 'Inception',"Martin Scorsese": 'Goodfellas',"Stanley Kubrick": '2001: A Space Odyssey',"Quentin Tarantino": 'Pulp Fiction'
}

print("Total film_directors:", len(film_directors))
print("First 5 film_directors:", film_directors[:5])
print("Sample record:", list(film_directors_info.items())[:3])
print("Total records in dict:", len(film_directors_info))

Total film_directors: 25
First 5 film_directors: ['Steven Spielberg', 'Christopher Nolan', 'Martin Scorsese', 'Stanley Kubrick', 'Quentin Tarantino']
Sample record: [('Steven Spielberg', 'Jaws/ET'), ('Christopher Nolan', 'Inception'), ('Martin Scorsese', 'Goodfellas')]
Total records in dict: 5

Example 48

In [33]:
olympic_sports = [
    "Athletics","Swimming","Gymnastics","Boxing","Wrestling",
    "Weightlifting","Football","Basketball","Volleyball","Handball",
    "Hockey","Table Tennis","Badminton","Tennis","Shooting",
    "Archery","Cycling","Canoeing","Rowing","Rugby Sevens",
    "Sailing","Skateboarding","Surfing","Sport Climbing","Golf"
]

olympic_sports_info = {
    "Athletics": 'Various',"Swimming": 'Various',"Gymnastics": 'Various',"Boxing": 'Various',"Wrestling": 'Various',
    "Weightlifting": 'Various',"Football": '11',"Basketball": '5',"Volleyball": '6',"Handball": '7'
}

print("Total olympic_sports:", len(olympic_sports))
print("First 5 olympic_sports:", olympic_sports[:5])
print("Sample record:", list(olympic_sports_info.items())[:3])
print("Total records in dict:", len(olympic_sports_info))

Total olympic_sports: 25
First 5 olympic_sports: ['Athletics', 'Swimming', 'Gymnastics', 'Boxing', 'Wrestling']
Sample record: [('Athletics', 'Various'), ('Swimming', 'Various'), ('Gymnastics', 'Various')]
Total records in dict: 10

Example 49

In [34]:
camera_brands = [
    "Canon","Nikon","Sony","Fujifilm","Olympus",
    "Panasonic","Leica","Pentax","Hasselblad","Ricoh",
    "GoPro","Blackmagic","Samsung","Kodak","Yashica",
    "Polaroid","Sigma","Tamron","Carl Zeiss","Mamiya",
    "Minolta","Bronica","Contax","Argus","Zenit"
]

camera_brands_info = {
    "Canon": 'Japan',"Nikon": 'Japan',"Sony": 'Japan',"Fujifilm": 'Japan',"Olympus": 'Japan',
    "Panasonic": 'Japan',"Leica": 'Germany',"Pentax": 'Japan',"Hasselblad": 'Sweden',"Ricoh": 'Japan'
}

print("Total camera_brands:", len(camera_brands))
print("First 5 camera_brands:", camera_brands[:5])
print("Sample record:", list(camera_brands_info.items())[:3])
print("Total records in dict:", len(camera_brands_info))

Total camera_brands: 25
First 5 camera_brands: ['Canon', 'Nikon', 'Sony', 'Fujifilm', 'Olympus']
Sample record: [('Canon', 'Japan'), ('Nikon', 'Japan'), ('Sony', 'Japan')]
Total records in dict: 10

Example 50

In [35]:
programming_tools = [
    "Visual Studio Code","PyCharm","Eclipse","IntelliJ IDEA","Sublime Text",
    "Atom","Notepad++","Xcode","Android Studio","NetBeans",
    "CLion","WebStorm","RStudio","MATLAB","Spyder",
    "Emacs","Vim","Code::Blocks","Brackets","Anaconda",
    "Jupyter Notebook","BlueJ","Komodo","PhpStorm","MonoDevelop"
]

programming_tools_info = {
    "Visual Studio Code": 'Editor',"PyCharm": 'IDE',"Eclipse": 'IDE',"IntelliJ IDEA": 'IDE',"Sublime Text": 'Editor',
    "Atom": 'Editor',"Notepad++": 'Editor',"Xcode": 'IDE',"Android Studio": 'IDE',"NetBeans": 'IDE'
}

print("Total programming_tools:", len(programming_tools))
print("First 5 programming_tools:", programming_tools[:5])
print("Sample record:", list(programming_tools_info.items())[:3])
print("Total records in dict:", len(programming_tools_info))

Total programming_tools: 25
First 5 programming_tools: ['Visual Studio Code', 'PyCharm', 'Eclipse', 'IntelliJ IDEA', 'Sublime Text']
Sample record: [('Visual Studio Code', 'Editor'), ('PyCharm', 'IDE'), ('Eclipse', 'IDE')]
Total records in dict: 10