Example 1

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
dict1 = {"a" : 1, "b" : 2, "c" : 3, "d" : 4, "e" : 5, "f" : 6, "g" : 7, "h" : 8, "i" : 9, "j" : 10,
         "k" : 11, "l" : 12, "m" : 13, "n" : 14, "o" : 15, "p" : 16, "q" : 17, "r" : 18, "s" : 19, "t" : 20}

print (f"list1 = {list1}")
print (f"dict1 = {dict1}")
print (f"e = {dict1["e"]}")
print (f"index3 = {list1[3]}")

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20}
e = 5
index3 = 4

Example 2

In [30]:
fruits = ["Apple", "Banana", "Orange", "Mango", "Grapes",
          "Pineapple", "Papaya", "Guava", "Watermelon", "Pear",
          "Kiwi", "Strawberry", "Blueberry", "Cherry", "Peach",
          "Plum", "Lemon", "Coconut", "Pomegranate", "Dragonfruit",
          "Lychee", "Apricot", "Blackberry", "Fig", "Dates"]

fruit_prices = {
    "Apple": 100, "Banana": 40, "Orange": 60, "Mango": 120, "Grapes": 80,
    "Pineapple": 70, "Papaya": 50, "Guava": 45, "Watermelon": 30, "Pear": 90,
    "Kiwi": 150, "Strawberry": 200, "Blueberry": 250, "Cherry": 300, "Peach": 120,
    "Plum": 110, "Lemon": 20, "Coconut": 60, "Pomegranate": 180, "Dates": 220
}

print (f"length of fruits = {len(fruits)}")
print (f"check mango is listed = {"Mango" in fruits}")
print (f"Kiwi = {fruit_prices["Kiwi"]}"), print (f"Watermelon = {fruit_prices["Watermelon"]}")
print (f"Cherry = {fruit_prices["Cherry"]}"",", f"Pineapple = {fruit_prices["Pineapple"]}"",", f"Dates = {fruit_prices["Dates"]}")

length of fruits = 25
check mango is listed = True
Kiwi = 150
Watermelon = 30
Cherry = 300, Pineapple = 70, Dates = 220

Example 3

In [48]:
Employee = [
    {"id" : 1, "name" : "saad", "active" : True, "skills" : ["Excel","SQL","PowerBi","Python"]},
    {"id" : 2, "name" : "sagar", "active" : True, "skills" : ["Excel","SQL","PowerBi","Python","java","c++"]},
    {"id" : 3, "name" : "aasim", "active" : False, "skills" : ["Excel","SQL","html"]},
    {"id" : 4, "name" : "taksh", "active" : False, "skills" : ["html","css","JavaScript"]}
]

company_info = {
    "name" : "TechSoft",
    "founded" : 2010,
    "is_hiring" : True,
    "departments" : ["IT","HR","Sales","Finance"],
    "locations" : {"India" : "Mumbai", "US" : "New York", "UK" : "London"}
}

print ("saad skilss :", Employee[0]["skills"])
print ("is company hiring? :", company_info["is_hiring"] )
print ("UK :", company_info["locations"]["UK"] )
print ("Department :", company_info["departments"])

saad skilss : ['Excel', 'SQL', 'PowerBi', 'Python']
is company hiring? : True
UK : London
Department : ['IT', 'HR', 'Sales', 'Finance']

Example 4

In [64]:
products = [
    {"id" : 1, "name" : "laptop", "price" : 55000, "available" : True},
    {"id" : 2, "name" : "mobile", "price" : 30000, "available" : True},
    {"id" : 3, "name" : "tablet", "price" : 44000, "available" : False},
    {"id" : 4, "name" : "TV", "price" : 55000, "available" : True},
    {"id" : 5, "name" : "monitor", "price" : 20000, "available" : False}
]

store = {
    "name" : "GadgetWorld",
    "branches" : 15,
    "offer" : ["discount","cashback","no cost EMI"],
    "online" : True,
    "ratings" : {"google" : 4.5, "JustDial" : 4.2}
}

print (products[3]["name"], "price is ₹", products[3]["price"])
print (products[4])
print ("rating from JusDial :",store["ratings"]["JustDial"])
print ("check store is online :",store["online"])

TV price is ₹ 55000
{'id': 5, 'name': 'monitor', 'price': 20000, 'available': False}
rating from JusDial : 4.2
check store is online : True

Example 5

In [84]:
students = [
    {"roll": 1, "name": "Arjun", "marks": 85, "passed": True},
    {"roll": 2, "name": "Riya", "marks": 45, "passed": False},
    {"roll": 3, "name": "Kabir", "marks": 72, "passed": True},
    {"roll": 4, "name": "Simran", "marks": 90, "passed": True},
    {"roll": 5, "name": "Iqbal", "marks": 33, "passed": False}
]

school = {
    "name": "City High School",
    "founded": 1995,
    "is_private": False,
    "classes": ["5th", "6th", "7th", "8th", "9th", "10th"],
    "principal": {"name": "Mr. Sharma", "experience": 20}
}

print ("total students :", len(students))
print (students[3]["name"], "get", students[3]["marks"],"marks")
print ("is private :",school["is_private"])
print ("principle name :", school["principal"]["name"])

total students : 5
Simran get 90 marks
is private : False
principle name : Mr. Sharma

Example 6

In [109]:
cities = [
    "Nagpur","Mumbai","Delhi","Chennai","Kolkata",
    "Pune","Bangalore","Hyderabad","Jaipur","Lucknow",
    "Kanpur","Bhopal","Patna","Indore","Surat",
    "Ahmedabad","Chandigarh","Goa","Ranchi","Raipur",
    "Nashik","Aurangabad","Thane","Nagaur","Guwahati"
]

city_population = {
    "Nagpur": 24,"Mumbai": 200,"Delhi": 180,"Chennai": 90,"Kolkata": 140,
    "Pune": 80,"Bangalore": 120,"Hyderabad": 110,"Jaipur": 60,"Lucknow": 70,
    "Kanpur": 65,"Bhopal": 45,"Patna": 75,"Indore": 40,"Surat": 55,
    "Ahmedabad": 85,"Chandigarh": 20,"Goa": 15,"Ranchi": 25,"Raipur": 30
}

print ("population of Mumbai :", city_population["Mumbai"])
print ("Pune + Bhopal population :", city_population["Pune"] + city_population["Bhopal"])
print (cities[3])
print (f"type of cities : {type(cities)}" ",",
       f"type of city_population : {type(city_population)}")

population of Mumbai : 200
Pune + Bhopal population : 125
Chennai
type of cities : <class 'list'>, type of city_population : <class 'dict'>